# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE específico (opcional)
.vscode/
.idea/

# Archivos de configuración local (opcional)
settings.json
*.local

# Archivos de distribución / builds
*.egg-info/
dist/
build/
*.egg

# Archivos de pytest (opcional)
.pytest_cache/

# Archivos de Jupyter Notebook (opcional)
.ipynb_checkpoints/

# Otros
*.log
*.sqlite3